<link rel="stylesheet" href="/navbarAndFooter.css">
<nav class="navbar">
     <a href="/" class="logo" id="logoTxt">
          <h1 class="logo">фактура</h1>
     </a>

     <div class="navbarBtns">
          <a href="/"><button id="newInvoiceBtn">Нова фактура</button></a>
          <a href="/myinvoices"><button id="myInvoicesBtn">Мои фактури</button></a>
          <a href="/myprofile"><button id="myProfilebtn">Профил</button></a>
          <form action="/logout" method="POST">
               <button id="logOutBtn">Одлогирај се</button>
          </form>
     </div>
</nav>