<link rel="stylesheet" href="loginSingup.css">

<body>
     <div class="wrapper">



          <h1>Внесете ја вашата е-маил адреса</h1>



          <div class="form-inner">
               <form action="/forgotpassword" method="POST">
                    <div class="field">
                         <input id="email" name="email" type="text" placeholder="Е-маил" required>
                    </div>


                    <div class="field">
                         <input class="loginBtn" type="submit" value="Потврди"></input>
                    </div>
               </form>
          </div>
     </div>
</body>
<style>
     h1 {
          width: 100%;
          font-size: 15px;
          font-weight: 600;
          text-align: center;
          color: rgb(129, 129, 129);
     }
</style>